@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141416;
  --foreground: #141416;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141416;
    --foreground: #141416;
 
      --primary: #BE4A4A;
  
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Stencil Std Bold';
  src: url('/fonts/StencilStdBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}